.square {
    width: 100px;
    height: 100px;
    background-color: transparent; /* Change the color as desired */
    position: absolute;
    bottom: 10%;
    left: 47%;
    background-image: url(../Media/Images/Assets/Turret.png);
}

.bullet {
    width: 13px;
    height: 15px;
    background-color: transparent; /* Change the color as desired */
    background-image: url(../Media/Images/Assets/Bullet.png);
    position: absolute;
}

html{
    overflow: hidden;
}

.falling-square {
    width: 42px; /* Adjust size as needed */
    height: 86px; /* Adjust size as needed */
    background-color: transparent; /* Change the color as desired */
    background-image: url(../Media/Images/Assets/Enemy.png);
    position: absolute;
    background-size: cover;
}

body {
    background-image: url(../Media/Images/Assets/Bkg.jpg);
}

.leftBW{
    position: absolute;
    background-color: transparent;
    background-image: url(../Media/Images/Assets/BW.jpg);
    padding:0px;
    border: 0px solid aliceblue;
    background-position: center;
    background-repeat: repeat-y;
    border-radius: 0;
    width: 25%;
    height:100vw;
    top:0;
    left:0;
}

.rightBW{
    position: absolute;
    background-color: transparent;
    background-image: url(../Media/Images/Assets/BW.jpg); 
    transform: scaleX(-1);
    padding:5px;
    border: 0px solid aliceblue;
    background-position: center;
    background-size: auto auto;
    background-repeat: repeat-y;
    border-radius: 0;
    right:0;
    width: 25%;
    height:100vw;
    top:0;
}

.lable{
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    width:200px;
    height:fit-content;
    background-color: black;
}

#score{
    color:white;
    font-family: sans-serif; 
}

.whitetxt{
    color:white;
    font-family: sans-serif;
}

.redtxt{
    font-family: sans-serif;
    color: darkred;
}