body {
    margin: 0;
    padding: 0;
    display:flex;
    min-height: 100vh;
    font-family: 'MedievalSharp';
}

.banner{
    display:flex;
    text-align:center;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    z-index:999;
}


.secontent{
    position:relative;
    background-color: rgb(0, 0, 0); 
    padding:20px;
    border-radius: 0;
    text-align:center;  
    top: 100%;
    left:22%;
    width: 50%;
    height:100%;
}

p{
    color: white;
    display: inline;
    font-family: 'MedievalSharp';
    font-size: 17px;
}

h3{
    color: rgb(220,20,60);
}

a{
    color: orange;
}

a:hover{
    color:darkgoldenrod;
}

h1{
    color: rgb(255,0,0);
}

h4{
    color:rgb(0, 145, 108);
}

td{
    border: 2px solid #ddd;
}

.centrato{
    text-align: center;
}

.tabletitle{
    background-color: darkblue;
    font-weight:bold;
    text-align: center;
}

.centertab{
    text-align: center;
    vertical-align: middle;
}

.borderless{
    border: 0px solid #fff;
}

.centertitle{
    text-align: center;
    border: 0px solid #ffffff;
}

img{
    max-width: 100%;
    Height:auto;
}

audio {
    max-width: 100%;
}

table{
    width: 100%;
    height:100%;
}

h5{
    color:rgb(255, 255, 255);
}

h3{
    color:white;
}

audio{
    background-color: white;
}

::selection{
    background-color: #fff;
    color: black;
}

.highlight:hover{
    background-color: #fff;
    border: 2px solid whitesmoke;
}